body{
    margin: 0;
    background-color: rgba(0,0,0,0.91);
}
header{
    width: 100%;
    height: 170px;
    background-color: rgba(0,0,0,0.9);
    display: flex;
    justify-content: center;
}

section{
width: 100%;
    height: 75vh;
}

img{
    max-width: 100%;
}
.container{

}

.content{
position: relative;
top:100px;
    left:10px;
}

#flipbook .page{
    background: #fff;
    color:#000;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__page{
font-size:20px;
}
.content__first_page{

}
.p3{
    align-items: flex-start !important;
}

.desc, .avatar{
    margin: 10px;
    text-align:center;
}


.content__last_page{
    --color:white;
    font-size:2.5em;
}
.content__last_page>del:first-child{
    color:red;
}
.content__last_page>del:last-child{
    color:blue;
}
.content__last_page>del:first-child:hover:after{
     content:"HE ";
}
.content__last_page>del:last-child:hover:after{
    content:"APPY ";
}
.content__last_page>del:first-child:hover+del{
    display:none;
}

.gradientOGY{
    background: linear-gradient(75deg,#faa707 10%, #84fa07 30%, #f9fa07 85%) !important;
    color:black !important;
    --background: radial-gradient(circle farthest-corner at 100px 50px,#faa707, #84fa07, #f9fa07 )!important;
}
/* ниже parallax стили */

.scene{
    position: fixed;
    left:0;
    top:0;
    right:0;
    bottom: 0;
    min-height: 100vh;
    z-index: -1;
}
.layer{
    position: absolute;
    left:-10%;
    top:-10%;
    right:0;
    bottom: 0;
    width: 110%;
    height: 110%;
}

.layer_bg,.layer_1,.layer_2{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.layer_SnowMountain{
    background-image: url("../Rofl_res/scene1/SnowMountain.jpg") ;
}
.layer_blueSky{
    background-image: url("../Rofl_res/scene1/blueSky.png") ;
    opacity: 0.1;
}
.layer_clouds{
     background-image: url("../Rofl_res/scene1/clouds2.png") ;
 }

.layer_forest{
    background-image: url("../Rofl_res/scene2/forest.jpg") ;
}
.layer_ravens{
    background-image: url("../Rofl_res/scene2/ravens.png");
}
.layer_SpiritForest{
    background-image: url("../Rofl_res/scene2/forest_spirit.png") ;
    opacity: 0.5;
}
